[2014-01-19 22:13] pombredanne opened #2 "Tabs?"
Hi Caleb:
Any reason why you use tabs rather that the conventional PEP 8 space-based indentation?
http://www.python.org/dev/peps/pep-0008/
Cordially

[2014-01-20 03:51] #2 closed, assigned to nobody

[2014-11-01 13:07] wangxuepeng opened #6 "Exclude folder using exclamation mark ('!') doesn't work"
I'm using pattern
"""
!test1/
*.txt
"""

to scan a folder, from gitingore description
(http://git-scm.com/book/en/v2/Git-Basics-Recording-Changes-to-the-Repository)
  # ignore all files in the build/ directory
build/

this should exclude everything under test1 folder, but the run result shows the line dose not work, the result still show all contents under test 1 folder.

[An Example Folder Struct

[2014-11-08 14:54] #6 closed, assigned to nobody

[2016-05-25 01:55] kwlzn opened #11 "Provide a library function/method for converting a glob to an uncompiled regex string."
currently, the way to get a regex string for a given gitignore-style glob is:

[code]

which incurs the glob->regex translation inside `GitIgnorePattern.__init__` which in turn calls `RegexPattern.__init__` which automatically compiles the regex.

for the simple case of just wanting to convert a glob into a non-compiled regex string, it'd be great to have a utility function/method that could both

[2016-05-27 03:08] cpburnz commented on #11
I could make a class method part of `RegexPattern` to convert the glob patterns to the regular expression strings.

[code]

`GitIgnorePattern` would then implement it and use it inside of its `__init__()`. If you want access to the raw regex string, you could acquire it via:

[code]

[2016-05-28 19:46] kwlzn commented on #11
sgtm!

[2016-07-15 13:32] cpburnz commented on #11
@kwlzn This has been implemented.

[2016-07-15 13:32] #11 closed

[2016-07-15 18:02] kwlzn commented on #11
@cpburnz awesome, thank you!

[2016-08-03 09:43] demurgos opened #12 "Add PathSpec.match_file"
Hi,
I was looking for a Python implementation to match files with the rules defined in `.gitignore` files and this project is great!
My use case is to synchronize directories across a network and most of the control logic (filter, compare, update) is at the inode level to allow me to maximize the number of skipped elements (to not explore excluded directories for example).
I would like to update m

[2016-08-16 05:06] cpburnz commented on #12
@demurgos That is quite cumbersome to match files one at a time. In the next release, I'll add `PathSpec.match_file`. Thanks for pointing out the proper name for the pattern matching git uses for ".gitignore". I tried searching for its name when I started this project, but I came up with nothing.

[2016-08-23 02:13] cpburnz commented on #12
`PathSpec.match_file` has been implemented, and `GitIgnorePattern` has been renamed to `GitWildMatchPattern`. The `GitIgnorePattern` is still available for backward compatibility.

[2016-08-23 02:13] #12 closed

[2016-08-23 12:08] demurgos commented on #12
Ok, thank you.

[2017-06-21 16:27] AndersBlomdell opened #14 "Unintuitive behavior with binary paths/patterns"
The following program illustrates some possible variations:

[code]
Gives the following result when run in the source directory:
[code]

IMHO examples A-C behaves as expected, while example D does not match any files, neither does it complain on the pattern.

[2017-06-28 15:09] adrienverge opened #16 "Python 2.6 support"
Hi,

Since today, pathspec is used by yamllint, which is used by Ansible, OpenStack and others.

The problem is: all these software must support Python 2.6, but pathspec currently doesn't. This leads to issues like https://github.com/adrienverge/yamllint/issues/55 and https://github.com/ansible/ansible/pull/26186.

In your opinion, what's the amount of work needed to support Python 2.6?

[2017-06-28 17:17] cpburnz commented on #14
I agree that cases A-C behave correctly. I would have expected case D to yield the same results as case C. I'll look into this.

[2017-06-28 17:32] cpburnz commented on #16
As much as I think everyone should be migrating to Python 3, supporting Python 2.6 would be trivial. It looks like there's that set-comprehension and a utility method that needs a slight tweak. So very little work is needed.

[2017-07-01 20:12] cpburnz commented on #14
@AndersBlomdell Okay, I've fixed the issue. Your example now outputs:

[code]

[2017-07-01 20:12] #14 closed

[2017-07-01 20:13] #16 closed

[2017-07-01 20:24] cpburnz commented on #16
@adrienverge Python 2.6 support has been added. I tested it through *tox* and everything seems to be in order.

[2017-07-04 20:09] adrienverge commented on #16
@cpburnz thanks a lot!

[2017-09-22 10:34] ant31 opened #18 "Fail to match directory"
Hi,
I have a simple case:
[code]
I was expecting True

edit:
`cargo/a` is ignored as expected

[2017-10-06 02:26] cpburnz commented on #18
Just in case this wasn't a typo when you were writing your question, the `PathSpec.from_lines()` method should be given a list (or some iterable) of strings for the lines, not a string directly.

The problem is the pattern `cargo/` should match that directory, and any files underneath it, but not a file named `cargo`. By supplying the path `cargo` it's interpreted as being a file and thus it is no

[2017-10-06 02:39] cpburnz commented on #18
@ant31 Or are you trying to ignore `cargo/`? If that's the case, I think you want something more like:

[code]

[2018-01-16 00:54] cpburnz commented on #18
I'm closing this due to inactivity. If you're still interested in this issue, please comment.

[2018-01-16 00:54] #18 closed

[2018-03-18 21:04] spMohanty opened #19 "files inside an ignored sub-directory are not matched"
Consider the case of a directory structure like :
[code]
The contents of the `.gitignore` file are :
[code]

Now if we use `pathspec` to match all the files with the specs defined in `.gitignore` then here are the responses of `match_file(filepath)` function:
[code]

If you compare it with the behaviour of `.gitignore` inside a git repository, the files inside `directoryH` should all return `True`

[2018-03-19 19:53] spMohanty opened #20 "a "./" infront of the filename provides wrong matches"
Consider the use case when you have a directory structure like this :
[code]

and the contents of `.gitignore` are :
[code]

`ignorespec.match_file("A/0.csv")` returns `True`, which is expected.
while
`ignorespec.match_file("./A/0.csv")` returns `False`.

[2018-03-26 13:07] cpburnz commented on #20
@spMohanty Thank you for the two reports. I'll look into them this week.

[2018-04-05 02:09] cpburnz commented on #19
You're right, there is a discrepancy in the behavior. `directoryG/*` should match everything beneath the `directoryG` directory.

[2018-04-06 13:25] cpburnz commented on #20
@spMohanty This is now supported.

[2018-04-06 13:25] #20 closed

[2018-05-17 13:32] cpburnz commented on #19
I have not forgotten about this issue but I haven't had time to fix it yet.

I suspect the discrepancy is that a *.gitignore* does additional filtering beyond that of Git's *wildmatch* algorithm. If I fixed this in my implementation of *wildmatch*, it could unexpectedly change the results of anyone already using this for a purpose other than emulating *.gitingore*.

The core issue is that blacklis

[2018-08-09 15:28] thmxv opened #21 "Deprecation warining"
I get the following deprecation warning

/usr/lib/python3.7/site-packages/pathspec/pathspec.py:27: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  self.patterns = patterns if isinstance(patterns, collections.Container) else list(patterns)

[2018-08-14 13:30] #21 closed

[2018-08-14 13:33] cpburnz commented on #21
This is now fixed. It will use `collections.abc` where it's available (Python 3.3+), and fallback to `collections` for 2.6-3.2.

[2018-09-14 03:19] wimglenn opened #22 "dangling symlinks cause crash"
When using `PathSpec.match_tree`, If there is a broken symlink encountered, we get unhandled exception. It's here:

https://github.com/cpburnz/python-path-specification/blob/da86e2c4d557df2d0a7cc9743268a7173d3a4828/pathspec/util.py#L68

I think you could fix it with `os.lstat` instead, but that's backwards incompat change.

Perhaps `iter_tree` could have an option to not follow symlinks? You could

[2018-09-15 16:49] cpburnz commented on #22
I've updated `iter_tree` to behave similar to `os.walk` but not identically. Dangling symlinks will now be ignored by default. I've added similar arguments:

-  `on_error`: behaves the same as `os.walk`.
- `follow_links`: default is `True` instead of `os.walk`'s `False` to maintain backwards compatibility of following links.

[2018-09-15 16:49] #22 closed

[2019-09-27 01:22] mroutis opened #26 "method to escape gitwildmatch"
It would be great to have a method for escaping a string according to gitwildmatch, thus, putting backslashes before `!`, `[`, `]`, `?` `*`.

I could send a PR if there's interest on this

[2019-10-01 02:15] cpburnz commented on #26
@mroutis That would be a useful addition. I'm interested in a PR.

[2019-10-01 02:17] mroutis commented on #26
Cool, @cpburnz !  I'll be submitting a patch for it (a very basic one, but at least to start the conversation)

[2019-10-03 02:53] #26 closed

[2020-01-13 01:34] ftrofin opened #30 "pathspec should expose the information of what matched in a string/path"
This library is very cool and I want to use it a project. However, i'm running against a severe limitation: I can't tell which part of a filename was matched.
Consider this example: I have several match patterns (let's call them SpecEntries). They specified what I'm looking for and, optionally, what should the matched thing be remapped to. Example:
'/Documentation/':  'docs/',
'/*.html': 'docs/',

[2020-01-14 05:42] cpburnz commented on #30
@ftrofin

For (1) it would be straight forward for me to implement a version of match_tree()/match_files() that returns addition information such as which pattern a file or directory was matched with.

For (2) what you're trying to do makes sense. I'll have to evaluate the current code to determine the feasibility of the feature. Currently the patterns are converted to regular expressions and thos

[2020-01-16 02:04] ftrofin commented on #30
Thank you so much for the prompt response and for the great news! (too many times I've heard "sorry, we can't do that"). Let me know if I can help in any way.

[2020-01-17 00:34] ftrofin opened #31 "match_tree doesn't return the symlinks regardless of the followSymlinks parameter"
This may be considered a bug or  "works as designed", depending on the interpretation of "followSymlinks", but wanted to point out a (design?) flaw in match_tree:

 Suppose I want to archive a folder so I specify a very inclusive pattern: "Libs/"

Under 'Libs/' I have a Mac framework named 'Crmsdk'. Mac frameworks are really just directories with a particular structure inside but the interesting a

[2020-01-17 22:51] ftrofin commented on #31
@cpburnz Caleb?

[2020-01-18 17:24] cpburnz commented on #31
@ftrofin You don't need direct access to create a pull request. Just fork the project, commit your changes there, then submit a pull request.

I think you're right that it's a bug. In my experience most programs treat symlinks as regular files if they're not resolving the target. Git, in particular, I think treats symlinks as files regardless if they point to a file or folder.

[2020-01-22 02:38] ftrofin commented on #31
I tried that. I cloned (using https), created a branch named 'issue_31' and tried to push it back:
$ git push --set-upstream origin issue_31
remote: Permission to cpburnz/python-path-specification.git denied to ftrofin.

[2020-01-23 01:19] cpburnz commented on #31
@ftrofin Are you familiar with how to fork and make pull requests on Github? On Github you have to use web interface to perform those actions, not directly using git.

[2020-01-23 05:54] ftrofin commented on #31
I didn't have to do this to repos I don't own. Here is the change, very simple, can you please apply it? Thanks!

![image](https://user-images.githubusercontent.com/8718388/72960203-c38ad880-3d61-11ea-9659-7374ec8928b2.png)

[2020-01-29 00:17] ftrofin commented on #30
@cpburnz Hi Caleb, any update on this?

[2020-01-30 14:25] cpburnz commented on #30
@ftrofin I have a work-in-progress that I should be able to complete this weekend.

[2020-02-03 03:45] cpburnz commented on #31
@ftrofin I've implemented this on the master branch.

[2020-02-03 04:29] cpburnz commented on #30
@ftrofin

I've made to the master branch that will at least support (1).

I'm not currently sure how to implement the feature for (2). Even if I added passing through the regex match result, the gitwildmatch format would escape any regex capturing groups. So the only way to use this potential feature would be to construct RegexPattern objects directly.

[2020-02-04 06:11] ftrofin commented on #30
Thank you Caleb for taking the time to address this. Can you please make a git release or bump the version and upload to pypi these changes so I can test them? I might have an idea on how to implement 2. If 1 is working now it means that now I know which pattern matched which SpecEntry (the left side) right? So maybe I could just re-apply the regex used during matching (if I could get it somehow)

[2020-02-05 18:51] ftrofin commented on #30
@cpburnz Looking at the new code I don't see the `util.detailed_match_files()` being used anywhere...Is this still work in progress?

[2020-02-08 14:32] cpburnz commented on #30
@ftrofin That function is not being used elsewhere yet. I'm not sure if I'm completely satisfied with its implementation so I would consider it a work in progress. That's why I haven't made a proper release uploaded to PyPI.

Yes, (1) is working now but it's only in that utility function at present.

[2020-02-25 19:45] pykong opened #32 "Feature request: Unicode support"
@cpburnz Thanks for putting this neat little highly useful python package out there.
I like to work with files featuring weird little symbols inside their names, to make the life of the Spanish speaking users of my package `copier`: https://github.com/pykong/copier/issues/118#issuecomment-591032273

I would need `pathspec` to handle files like: `ñana.txt` which currently get just never match and

[2020-02-25 19:50] pykong opened #33 "Feature request: Accept Path as arguments"
We write the year 2020: Pythonistas have largely adopted the use of the `pathlib` module as a more convenient way to perform file system operation that old stinkin `os.path` and its comrades.

Hence it would be great if all of `pathspec` function would accept Path objects or iterables thereof as arguments, compared to plain strings.

Putting a conversion to a string via `str(my_path)` at the right

[2020-02-26 11:06] pykong opened #35 "Rename repo to pathspec"
@cpburnz I feel this repo should be just called `pathspec` the same way you would install it from PyPI, as it is not the same as `python-path-specification`.

Minor detail, but it confused me.

[2020-02-26 12:42] pykong commented on #32
Hm, it strikes me the issue with my test are lying somewhere else.
I am closing this for now.

As long as `pathspec` can discern:
- nana
- ñana
- ñana

all should be working fine.
The last two patterns are not the same, albeit their strange symbols are rendered identically in both cases.

I am closing this for now.

[2020-02-26 12:42] #32 closed

[2020-02-27 13:40] cpburnz commented on #35
@pykong I had wondered if the slight difference in the name would cause confusion. Thanks for letting me know. I'll look into Github's renaming capabilities.

[2020-02-27 13:44] cpburnz commented on #33
@pykong That would be a useful addition. I'll review your pull request.

[2020-03-02 14:20] #33 closed

[2020-03-05 18:45] logavanc opened #37 "Support Python Pathlib"
The `match_file` and `match_files` functions do not seem to support `pathlib.Path` objects, which would be convenient.  If that is something that you want, I would be happy to work on a pull request.

[2020-03-06 04:32] cpburnz commented on #37
@logavanc Support was added by #34. I have not published a new release yet because I want to address a couple of the other open issues first.

[2020-03-26 00:47] ftrofin commented on #31
Thank you Caleb. Any idea when you're going to make a new release with the latest changes/fixes?

[2020-03-30 03:08] cpburnz commented on #31
@ftrofin I'll be able to get to it this coming weekend.

[2020-04-09 13:09] cpburnz commented on #37
v0.8.0 has been released.

[2020-04-09 13:09] #37 closed

[2020-04-09 13:12] cpburnz commented on #31
v0.8.0 has been released which supports symlinks.

[2020-04-09 13:12] #31 closed

[2020-04-09 13:21] cpburnz commented on #30
v0.8.0 has been released. The `detailed_match_files()` is still only a utility function. I've been delaying too long and might as well release what's available. The way you would use it is:

[code]

See:

- [pathspec.util.detailed_match_files](https://python-path-specification.readthedocs.io/en/latest/api.html#pathspec.util.detailed_match_files)
- [pathspec.util.MatchDetail](https://python-path-sp

[2020-04-09 13:21] #30 closed

[2020-05-31 10:34] karajan1001 opened #38 "Performance improvement?"
Hello.

We are users of `pathspec` in some other [project](https://github.com/iterative/dvc). I have a performance question.

For a long list of rules (dozens) matches large amount of files (hundreds of thousands) the `match_file` takes a long time. Is there any method to improve its performance?
For example, using a big regex instead of multiple small ones.

[2020-06-08 00:49] cpburnz commented on #38
Can you provide an example of how you're performing the matches? About how long is a long time? Is it on the order of minutes, hours, or days? This will help me look into the performance issue.

[2020-06-16 02:44] karajan1001 commented on #38
![image](https://user-images.githubusercontent.com/6745454/84724876-cfe72a80-afbb-11ea-9501-cd49b15f642d.png)
![image](https://user-images.githubusercontent.com/6745454/84725188-9b27a300-afbc-11ea-9631-2c83e5e99e0d.png)
![image](https://user-images.githubusercontent.com/6745454/84725460-446e9900-afbd-11ea-99f3-17d5b46b86b0.png)

For example, It would take 20μs for each file. And 2 seconds for 100k

[2020-07-03 12:16] darrenhaken opened #39 "Why doesn't !<path> act the same as .gitignore?"
When using .gitignore I could to the following:

[code]
This would exclude all log files but then include important/*log. Pathspec doesn't work this way, was this intentional?

[2020-07-18 21:31] caleb-partsgiant commented on #39
Can you provide an example file tree, and the results that differ from what you expect? My example below works for me. Perhaps there's an edge case I'm missing.

---

Say you have the following file tree:

[code]

And match against that using:

[code]

That will output:

[code]

If you remove those matched files against the whole tree:

[code]

That will finally output:

[code]

I think that match

[2020-07-18 21:32] cpburnz commented on #39
Can you provide an example file tree, and the results that differ from what you expect? My example below works for me. Perhaps there's an edge case I'm missing.

---

Say you have the following file tree:

[code]

And match against that using:

[code]

That will output:

[code]

If you remove those matched files against the whole tree:

[code]

That will finally output:

[code]

I think that match

[2020-08-09 20:50] bitranox opened #40 "can You explain please ?"
Dear Caleb,
I am a bit confused, please be so kind and help me.
Because git allows for nested .gitignore files, therefore a base_path value is required for correct behavior. But I cant find it ?

I played around and found some small glitches - if You use the `Pathspec.from_lines`  also comment lines of an ignorefile will create (empty) spec patterns - those should be skipped.
also double entries s

[2020-08-14 03:15] cpburnz commented on #40
Hi Robert,

This library provides methods for matching files similar to how a `.gitignore` functions. It does not implement additional behaviors of *git* such as scanning descendant directories for `.gitignore` files.

There is certainly room for improvement with this library. I'm not currently removing blank or commented lines.

My initial thought on how to you could use nested `.gitignore` files

[2020-08-14 06:34] bitranox commented on #40
thanks caleb -
I used another project as base for my own solution, check it out :

https://github.com/bitranox/igittigitt
mybe we can bundle our efforts, and merge our projects ?

yours sincerely

Robert

[2020-08-16 00:00] bitranox commented on #40
Dear Caleb,
I looked deeper into the issue, and found that it might be easier to use `wcmatch` patterns, instead of regexp.
I made a package that supports nested `.gitignore` Files, provides matching function and provides a ignore function for `shutil.copytree()`:

[code]

Since You have deep knowledge of the issue, please take a look, and take out what You might need from it.

Thanks for the insp

[2020-09-03 02:06] cpburnz commented on #40
@bitranox `wcmatch` looks interesting. The downside to using it is it would limit this library to only the glob expressions supported by `wcmatch`. With that in mind, I'm going to stick with regular expressions.

[2020-09-03 02:16] cpburnz commented on #40
@bitranox Regarding `igittigitt`, `pathspec` was a fun proof of concept for matching files using Git's wildmatch. The goal of this project is scaffolding for using different pattern styles (even though only wildmatch is implemented). The goal was not intended to fully emulate a `.gitignore`. Unfortunately, I do not have the time available to devote on another project to any meaningful capacity.

[2020-09-04 13:03] cpburnz commented on #40
I'm closing this because I think I've answered all of your questions.

[2020-09-04 13:03] #40 closed

[2020-10-08 17:28] adrienverge opened #41 "Incorrectly (?) matches files inside directories that do match"
Hello @cpburnz, I've looked existing issues but couldn't find this one. It was initially reported in yamllint issues: https://github.com/adrienverge/yamllint/issues/334 (yamllint uses pathspec).

Considering these files:
[code]
`pathspec.PathSpec.from_lines('gitwildmatch', ['*.yaml'])` does match `file.yaml`, `dir.yaml`, but also `dir.yaml/file.sql`. The latter isn't what I would expect, because `

[2020-10-10 01:16] cpburnz commented on #41
Hi @adrienverge,

Due to the current implementation it makes sense to me why `dir.yaml/*` is matching the pattern `*.yaml`. A dot in a folder name resembling a file extension is valid. There is not currently a way to tag a pattern to only match against files. This is the expected behavior. The most straight forward way to exclude directories with the `.yaml` extension is to add a negative pattern

[2020-10-10 08:24] adrienverge commented on #41
Thanks for your answer @cpburnz! To complete it, I notice that Git + `.gitignore` behaves the same: if it contains a line `*.yaml`, it will also ignore files like `dir.yaml/file.sql`.

The `['*.yaml', '!*.yaml/']` pattern looks the right way to go :+1:

However, while it works with Git and `.gitignore`, it doesn't seem to work with pathspec. More precisely, with the following tree, `.gitignore` su

[2020-10-10 14:28] cpburnz commented on #41
@adrienverge Oops, I overlooked that. This can still be accomplished be adding an addition pattern to match `.yaml` files under a `.yaml` directory:

[code]

The `*.yaml/**/*.yaml` pattern is redundant for Git and does not affect its results. The cause for this difference is *pathspec* strictly implements Git's wildmatch patterns while Git does additional processing for `.gitignore` such as as tra

[2020-10-11 08:58] adrienverge commented on #41
Thanks again @cpburnz!

Unfortunately this recursive pattern including/excluding seems to bring new problems:

1. While the first two patterns match paths (e.g. `dir/dir/dir/file.yaml`), the third pattern doesn't work. It seems that I need to add `**/` at the beginning, so it would be:
[code]
2. With these new patterns, now `dir.yaml/dir.yaml/index.txt` will be matched. We would then need to add t

[2020-10-13 13:27] cpburnz commented on #41
@adrienverge That is indeed problematic without a good solution for current feature set.

Precisely

It's certainly doable. I think the ideal implementation would be a class implementing the `.gitignore` specific behavior, possibly a subclass of `PathSpec`. I welcome a pull request implementing it.

The answer isn't no, but I am aware of another library that tries to specifically implement `.gitig

[2020-10-15 14:19] dafyddj commented on #41
@adrienverge  Interesting to read, but I am not a developer so I don't think I can help with this - but good luck!

[2020-10-18 09:59] kloczek opened #42 "Missing version git tags"
Accorging to https://pypi.org/project/pathspec/ latest version is 0.8.0 but there is no any version git tags here.

[2020-11-07 19:10] cpburnz commented on #42
Up until now I've published new packages on PyPI and titled the commits as "Release v{x}.{y}.{z}". I haven't published any packages on Github.

[2020-11-07 19:26] kloczek commented on #42
I've not been asking to publish anything but just **tag** git repo to be albe to see that has been commited **after** exact release :)

[2021-01-19 12:00] sanderland opened #44 "IndexError: list index out of range in pattern_to_regex"
I encountered an exeption in pathspec when
This line gives an error when the string "!\n" is passed, specifically due to a stray linebreak in the .gitignore file.
https://github.com/cpburnz/python-path-specification/blob/master/pathspec/patterns/gitwildmatch.py#L112

I am not sure what the expected behaviour is here, but it may be best to ignore rather than crash on the line.

[2021-02-09 23:56] bukowa commented on #19
Hey is there any workaround?

[2021-02-14 18:10] caleb-partsgiant commented on #44
Hi @sanderland, I can't reproduce this error. Based upon the line you referenced, if there's a bug this should trigger it:

[code]

Can you provide a minimal example replicating the error you encountered?

[2021-02-14 18:12] cpburnz commented on #44
Hi @sanderland, I can't reproduce this error. Based upon the line you referenced, if there's a bug this should trigger it:

[code]

Can you provide a minimal example replicating the error you encountered?

[2021-02-14 18:31] sanderland commented on #44
Sorry the `' ` was stray, the bug was triggered by a single line containing ONLY `!`

[2021-02-14 19:11] cpburnz commented on #44
Thank you. That reproduces the error:

[code]

[2021-04-14 07:27] Isaac0616 opened #46 "Bug of matching absolute paths for some patterns."
Some patterns work with both absolute and relative paths.
For example,
[code]
[code]
However, the pattern `foo` or `/foo` won't match the path starts with `/foo`.
For example,
[code]
Can we support matching the absolute path in this case?
I think making `output.append('(?:.+/)?')` at [here](https://github.com/cpburnz/python-path-specification/blob/7b125acf41702cb82679dcf56aaf6a14d34bd785/pathspec/

[2021-04-28 08:31] kloczek opened #47 "0.8.1: pytest warnings"
[code]

[2021-04-28 08:33] kloczek commented on #42
Still no version git tags :(

[2021-04-29 03:44] ftrofin opened #48 "Exclusion patterns work only if processed after the inclusion ones."
It took me quite a bit of time to figure out this one: if you have an exclusion pattern before an inclusion one, it won't work. The reason is that `match_files()` processes the patterns in whatever orders they are specified:

[code]
If the exclusion pattern is processed first, the difference_update won't have any effect since the `return_files` will be empty. To fix that I separated the patterns i

[2021-04-29 16:25] ftrofin commented on #42
I second this request. It's quite easy to create a Release from github.

[2021-04-29 19:27] ftrofin commented on #48
Here's another way of fixing it:

[code]

[2021-04-29 19:29] ftrofin commented on #48
Let me know which way you would prefer and I can try to create a PR (or you can apply the changes yourself if you prefer.)

[2021-04-30 21:32] ftrofin commented on #48
A workaround until this is fixed in the library itself is be to sort the patterns on the client side before calling pathspec:
[code]

[2021-05-09 15:16] saltedcoffii opened #49 "Create github releases/git tags for versions"
Commit 7b125acf41702cb82679dcf56aaf6a14d34bd785 can be tagged with 0.8.1 for example.

This would be helpful for non-pip package managers such as chromebrew, which I'm packaging pathspec for right now.

[2021-05-30 23:44] cpburnz commented on #49
I've now tagged the [v0.8.1](https://github.com/cpburnz/python-path-specification/releases/tag/v0.8.1) commit.

[2021-05-30 23:44] #49 closed

[2021-05-31 04:11] cpburnz commented on #47
Are you asking about the two skipped tests? If so, those are Python 2 only tests which are skipped by Python 3.

[2021-05-31 04:13] cpburnz commented on #42
The latest release, [v0.8.1](https://github.com/cpburnz/python-path-specification/releases/tag/v0.8.1), is now tagged.

[2021-05-31 04:13] #42 closed

[2021-05-31 06:10] kloczek commented on #47
Python 2.x is already EOLed (almos 1.5 year) so probab;y it would be good to remove that code.

[2021-06-12 16:38] cpburnz commented on #46
Thank you for the bug report. This is a normalization issue which is now fixed and will be in the next release.

[2021-06-12 16:38] #46 closed

[2021-07-07 22:56] ofek commented on #48
@cpburnz Any update on this?

[2021-07-18 00:03] #44 closed

[2021-07-18 01:30] cpburnz commented on #48
@ftrofin  @ofek

I've now tested this and git handles the patterns as they appear in the ".gitignore" file. It does not run inclusion patterns before exclusion patterns. I'd recommend to sort the patterns after they're compiled. I.e.,

[code]

---

Test 1 - git
---

Files:

- .gitignore
- a.txt
- b.txt
- keep.txt

*.gitignore*:

[code]

Files matched by git:

- .gitignore

Test 1 - pathspec
---

[

[2021-07-18 01:41] cpburnz commented on #46
This improvement has been released in v0.9.0.

[2021-10-19 11:03] orens opened #52 "`match_files()` is not a pure generator function, and it impacts `tree_*()` gravely"
Hey @cpburnz , thanks for the great lib!
In `match_files()` (https://github.com/cpburnz/python-path-specification/blob/c00b332b2075548ee0c0673b72d7f2570d12ffe6/pathspec/pathspec.py#L170), the line
[code]
(L190) requires `files` to be completely exhausted before even the first file is matched. If `files` is a list-like, this is not a problem, but when calling it from the `tree_*()` methods it means

[2021-10-29 09:53] jayvdb opened #53 "Symlink pathspec_meta.py breaks Windows"
setup.cfg refers to https://github.com/cpburnz/python-path-specification/blob/master/pathspec_meta.py with

[code]

On a git checkout on Windows, unless git config `core.symlinks` was enabled explicitly, the following occurs when trying to install the package.

[code]

Using the following in setup.cfg works for me, but I suspect there was some problem with this (possibly a setuptools issue?) which

[2021-10-29 10:02] jayvdb opened #54 "test_util.py uses os.symlink which can fail on Windows"
I am running unprivileged on a corporate laptop, and I encounter the following errors.  It would be nice to detect this and skip the tests which depend on it.
[code]

[2021-12-08 02:31] sausag3 commented on #19
While I understand the dilemma above with breaking existing projects, as time goes on more projects are probably using this and probably a good number expect this to match the behavior Git has when trying to exactly match something as a .gitignore file. I've spent a few days on and off scratching my head trying to work out why files weren't being excluded properly (using Git itself as an interacti

[2022-06-14 00:23] #48 closed

[2022-06-24 16:23] jwodder opened #55 "Backslashes at start of pattern not handled correctly"
Given a gitignore pattern like "`\*sterisk`", Git (as of v2.36.1) will match a file named `*sterisk` but will not match one named `asterisk`.  pathspec v0.9.0, meanwhile, matches both files.

[2022-08-13 02:11] cpburnz commented on #55
This is fixed and will be in v0.10.0 when it is released.

[2022-08-13 02:11] #55 closed

[2022-08-13 02:12] cpburnz commented on #53
This is fixed and will be in v0.10.0 when it is released.

[2022-08-13 02:12] #53 closed

[2022-08-13 02:19] cpburnz commented on #54
Those tests will now be skipped when there's a lack of user permissions.

[2022-08-13 02:19] #54 closed

[2022-08-13 02:28] cpburnz commented on #47
EOL Python versions have been removed (2.7, 3.5, 3.6).

[2022-08-13 02:28] #47 closed

[2022-08-18 03:12] cpburnz commented on #52
This is fixed and will be in v0.10.0 when it is released. All of the `PathSpec.match_*()` methods now properly use `files` as an iterator without exhausting it before hand, and yields results as the iterator is consumed (i.e., basically what your example does). I also improved the `util.iter_tree_*()` functions (used by `PathSpec.match_tree_*()`) to use `os.scandir()` which is supposed to be more

[2022-08-18 03:12] #52 closed

[2022-08-22 03:13] jack1142 opened #57 "`!` doesn't exclude files in directories if the pattern doesn't have a trailing slash"
It appears that pathspec is not handling exclusions correctly for directories without a trailing slash:
[code]

If you try doing the same with .gitignore, it works correctly:
[code]
Running `git status` gives:
[code]
And running `git ls-files --others --exclude-standard` gives:
[code]

[2022-08-23 03:31] cpburnz commented on #19
This is now fixed and will be available in v0.10.0 when it is released.

[2022-08-23 03:31] #19 closed

[2022-08-24 02:54] cpburnz commented on #57
This is now fixed and will be in the v0.10.0 release.

[2022-08-24 02:54] #57 closed

[2022-08-28 06:05] excitoon commented on #41
Guys this is not a bug. Git works exactly as the spec says:

https://git-scm.com/docs/gitignore

[2022-08-28 06:42] excitoon commented on #38
I checked `pathspec` against `gitignorefile` on this branch https://github.com/excitoon/3/tree/pathspec . On big project (16188 directories, 204718 files) it is still faster:

[code]

vs

[code]

[2022-08-28 08:50] excitoon commented on #38
I made it to:

[code]

so far. Thing is, `gitignorefile` results are more precise, and if I could afford wrong results, it would be much more fast.

[2022-08-28 17:18] cpburnz commented on #41
@excitoon I think it's an edge case not adequately described in the gitignore specification. Git behaves exactly as described in this issue, and at the moment pathspec behaves differently. I'm working fixing the discrepancy.

[2022-08-28 18:39] excitoon commented on #38
I got slightly better RE for a start of pattern: `(?:^|.+/)` instead of `^(?:.+/)?`. @cpburnz check that out

[2022-08-28 18:49] excitoon commented on #41
@cpburnz You can check how I solved it in my module.

First, making a group for extra path parts:
https://github.com/excitoon/gitignorefile/commit/6763d4772bb06965d774aaab2dde5d82f33855a3#diff-21e52cb6c7e0acafac258d280cac806bcf75715e4207b85d451e0c9e88d9f2b5R305-R306

Second, analyzing if anything matched. If it did not, we shall query filesystem to check if it is a directory:
https://github.com/ex

[2022-08-28 19:57] excitoon commented on #41
One more example:

[code]

[2022-08-31 03:06] cpburnz commented on #41
There will be a way to handle this scenario in the v0.10.0 release. The new class, `GitIgnoreSpec`, will need to be used. It will prioritize patterns that directly match the file over an ancestor directory. It can be used as:

[code]

[2022-08-31 03:06] #41 closed

[2022-08-31 03:17] cpburnz commented on #35
I've renamed the project to `python-pathspec` because that best reflects it's a Python library named "pathspec".

[2022-08-31 03:17] #35 closed

[2022-08-31 08:38] adrienverge commented on #41
Thanks @cpburnz!

[2022-08-31 09:27] adrienverge opened #61 "Dist failure for Fedora, CentOS, EPEL"
Hello,

I maintain the `python-pathspec` package for Fedora and CentOS, Rocky Linux, RHEL etc.

Since version 0.10.0, the `setup.py` file was removed. I tried adapting our files to use `python -m build`, `bdist_wheel`, `tox`, but after 40 minutes I fail to get it working.

Is there a documentation on how to build and install the package now that `setup.py` was removed? I couldn't find it in README

[2022-08-31 16:24] adrienverge commented on #61
Thanks for your answer @cpburnz.

To my knowledge `pip` cannot be used to install files to the system (which is a needed step to create RPM packages, usually done with `setup.py install`) without accessing internet or trying to manage dependencies itself, which isn't permitted when creating RPM packages.

I spent 90 more minutes trying to get something working, but I have to give up.

For referenc

[2022-08-31 17:04] cpburnz commented on #61
I'll work on restoring support for `setup.py` tonight so that it'll work as it previously did. After briefly looking at setuptools's [docs](https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html), it should be simple.

[2022-08-31 21:06] jack1142 commented on #61
It's not my project so it might come across as a bit rude but it seems to me like it's the author of the issue who should be modernizing how they use Python packaging rather than the author of the package switching back to the old methods.

Running `setup.py` as a script is strongly discouraged and most of its subcommands are deprecated, see:
- note in setuptools documentation: https://setuptools.

[2022-09-01 00:01] cpburnz commented on #61
@adrienverge The latest commit has `setup.py` in place, and in my testing (not on Fedora) the old setup.py commands work. Can you test this to see if it works on your end?

At the moment setuptools >=61.0.0 is required in order for `setup.py` to read the `pyproject.toml` (replacement for `setup.cfg`). Does this version dependency on setuptools present a problem for the distros you're packaging on?

[2022-09-01 07:03] adrienverge commented on #61
@jack1142 you're not rude :slightly_smiling_face: and I agree with your point of view: I would prefer shifting to newest standards. Indeed the "new" way to go is using pyproject macros, like `%pyproject_install`, as I mentionned. Unfortunately this doesn't work, not out-of-the-box nor with 1-2 hours of work. To be honest, someone will more Python-packaging skills than me could make it (feel free t

[2022-09-01 09:10] bzakdd opened #62 "Since version 0.10.0 pure wildcard does not work in some cases"
Behavior of pattern "match everything" changed when upgrading from version 0.9.0 to 0.10.0:

---
Version 0.9.0
[code]
Result is as expected

---
Version 0.10.0
[code]
Result is wrong. `*` should match any file, but it doesn't match `anydir/file.txt`.

---

Discovered when checking case "match everything except for one directory":
[code]
On version 0.9.0 it correctly matches file outside of `produc

[2022-09-02 01:24] cpburnz commented on #61
@adrienverge The latest commit now has a `setup.cfg` and only a dependency on setuptools >=40.8.0.

[2022-09-02 05:19] adrienverge commented on #61
Tested on Fedora 35, Fedora 36 and EPEL 9: it works :tada:

Thank you for this fast adjustment. I'll update packages on next tag.

[2022-09-02 12:52] cpburnz commented on #62
Hi @bzakdd, thanks for the bug report. This was a regression from fixing #19. This is now fixed and will be in the v0.10.1 release.

[2022-09-02 12:52] #62 closed

[2022-09-02 13:06] cpburnz commented on #61
@adrienverge v0.10.1 has been released.

[2022-09-02 13:32] bzakdd commented on #62
@cpburnz Thank you!)

[2022-09-02 16:20] bollwyvl commented on #38
Is it worth adding an actual benchmark with e.g. [pytest-benchmark](https://pypi.org/project/pytest-benchmark/) or [asv](https://asv.readthedocs.io/en/stable/)?

[2022-09-02 16:43] excitoon commented on #38
Of course it is

On Fri, Sep 2, 2022, 7:20 PM Nicholas Bollweg ***@***.***>
wrote:

[2022-09-04 03:00] hakancelikdev opened #63 "The pattern_to_regex method does not seem to work correctly on windows."
gitignore file is as follows.

[code]

After converting each line to regex, I have a method called list_path that scans the python files in the current directory and returns the ones that do not match each pattern found in gitignore, and the following test failed in the Windows environment, do you have Windows support for Pathspec?

- https://github.com/hakancelikdev/unimport/blob/i240/tests/test_

[2022-09-04 15:10] excitoon commented on #63
@hakancelikdev It does not support `**/`. `gitignorefile` shall do the job.

[2022-09-04 15:15] excitoon commented on #63
Nope, it was probably fixed in #62 .

[2022-09-04 20:09] hakancelikdev commented on #63
Okey thank you

[2022-09-04 20:09] #63 closed

[2022-09-05 03:09] ichard26 commented on #62
Hi @cpburnz, looks like this has the potential to cause some serious usability problems for downstream users. Black just received a bug report (https://github.com/psf/black/issues/3256) where Black is now reformatting virtual environments (!) named `env` with `pathspec==10.0.0`. This is because virtual environments (only those created by `virtualenv`, not `venv`) contain a `.gitignore` file that s

[2022-09-05 10:29] adrienverge commented on #61
Thank you @cpburnz! I created packages for Fedora and EPEL.

[2022-09-05 13:44] cpburnz commented on #62
@ichard26 I have no problem with pulling down v0.10.0 because it broke a very common pattern.

[2022-09-05 14:34] cpburnz commented on #63
@hakancelikdev Windows is supported by normalizing the Windows path to a POSIX path, and then matching it against the compiled regular expression patterns. If you're using the `PathSpec` or `GitIgnoreSpec` classes, they'll handle the normalization for you. Otherwise, you'll need to normalize them with the `pathspec.util.normalize_file()` function before matching them with the patterns.

For the te

[2022-09-08 13:03] cpburnz commented on #39
@darrenhaken Are you still having this problem?

[2022-11-08 10:08] haimat opened #64 "IndexError with my .gitignore file when trying to build a Python package"
### Problem description

I am trying to package my Python project/library. So first I created a `pyproject.toml` file, following the [official Python docs][1], using hatchling - no fancy stuff here. Then, after upgrading to the latest `build` version, I ran this command from within the root folder of my project:

[code]

I do have a `.gitignore` file in my root folder, however, it includes only th

[2022-11-10 02:57] cpburnz commented on #64
@haimat Thanks for reporting this. I'm uncertain if this is a bug with *pathspec* or *hatchling*. I haven't been able to reproduce this using a simple project using *hatchling* (see example below).

What do you have in your *pyproject.toml*? In particular, what are your settings for *hatchling* and *hatch*? What's the folder structure of your project?

---

Example
---

Files:

- .gitignore
- pypr

[2022-11-10 14:10] cpburnz commented on #64
@haimat I have a way to debug this.

I created a new branch which will rethrow the error with some debugging information. Modify your *pyproject.toml* to include:

[code]

A `GitWildMatchPatternError` error will be raised instead of the `IndexError`, and it will contain the info. When you get a chance, please try this and let me know what the resulting error is.

[2022-11-11 10:32] haimat commented on #64
Ok I found the problem in my `pyproject.toml` file:

[code]

As soon as I have removed this option, everything was fine again.

[2022-11-13 03:39] cpburnz commented on #64
@haimat Thanks, the `**` pattern is now fixed in the new release v0.10.2.

[2022-11-13 03:39] #64 closed

[2022-11-15 10:47] yschroeder opened #65 "Checking directories via match_file() does not work on Path objects"
I am currently investigating a problem in the `black` formatter which uses `pathspec` to figure out ignored files by parsing `.gitignore` files. `black` uses this library and tries to check if *directories* are ignored before checking their contents.

It boils down to this minimum example:
[code]

It matches the file `important/bar.log` as expected, however, it does not match the folder when it ha

[2022-11-15 11:43] yschroeder commented on #65
If you acknowledge that this needs to addressed by `pathspec`, I think the place to fix this would be `util.normalize_file()`.

When it creates the `str`. It should check if it currently handles a `Path` and if yes, append the trailing slash if `Path.is_dir()`.

[2022-11-16 04:43] cpburnz commented on #65
@yschroeder I'm undecided on this at the moment. I'm leaning towards supporting it but it's kind of inconsistent.

Supporting `Path.is_dir()` would be convenient but its behavior is not immediately apparent unless you're looking at the file-system. `Path.is_dir()` is only true when the directory exists on the file-system. It's false otherwise, even if constructed as `Path('important/')`. This make

[2022-11-16 08:02] yschroeder commented on #65
Yes, I am also not too sure, as `Path.is_dir()` requires that the path actually exists in the file system. `pathspec` only works on strings and doesn't care if the path exists or not, which is a good thing. I realized this problem when I tried to create a test case for `pathspec` which would require a mock for `is_dir()` as otherwise the test would need real files and folders.

Disclaimer: I am no

[2022-11-22 13:55] cpburnz commented on #65
@yschroeder

Thanks for the summary. After thinking about this, I don't think the right behavior is to treat `Path` with `.is_dir()` specially because its behavior is so tied to the file-system. What may be useful is I can add a utility function, say `append_dir_sep()`, which append add the trailing path separator when `Path.is_dir()` is `True`. It would essentially be:

[code]

Then to use it you

[2022-11-27 21:49] Avasam opened #66 "Package not marked as `py.typed`"
`pathspec` provides typing, but is not marked as `py.typed`. So type checkers (like mypy and pyright) think stubs are missing.
![image](https://user-images.githubusercontent.com/1350584/204161367-c038f928-97c0-407d-b72d-70b9469c98fe.png)
https://peps.python.org/pep-0561/#packaging-type-information

[2022-11-27 23:18] Avasam opened #68 "Exports are considered private"
The imports in `__init__.py` are considered private unless they are explicitly re-exported using the `as` keyword.
![image](https://user-images.githubusercontent.com/1350584/204165077-2f136271-2f8b-4b00-a124-84ae6cfbb110.png)

[2022-11-27 23:38] Avasam opened #70 "`'Self'` string literal type is `Unknown` in pyright"
![image](https://user-images.githubusercontent.com/1350584/204165759-d9c1afa2-8889-46f1-8419-7a7d4ebdbf87.png)

non string literal type `Self` works, but I believe it has issues with mypy iirc. You can use the same workaround as typeshed does by defining a `TypeVar`: `Self = TypeVar("Self")`